* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure body takes full height */
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

body.dark-mode {
    background-color: #2c3e50;
    color: #f4f4f9;
}

.container {
    flex: 1; /* Allow the container to grow and push footer down */
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    margin: 20px auto; /* Center the container */
}

.container.dark-mode{
    background-color: #27313b;
}

.container.dark-mode h1{
    color: #97c2ed;
}


.toggle-btn {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 10px;
}

.wall-section {
    margin-top: 20px;
}

.wall-section.dark-mode h2{
    color:#97c2ed
}

.wall-section h2 {
    color: #333;
    margin-bottom: 10px;
}

#wall {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
    padding: 10px;
    background-color: #e9ecef;
    border-radius: 10px;
    max-height: 400px;
    overflow-y: auto;
}

#wall.dark-mode{
    background-color: #2c3e50;
}

.participant {
    background-color: #007bff;
    color: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    transition: transform 0.2s;
}

.participant:hover {
    transform: scale(1.05);
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #f8f9fa;
    border-top: 1px solid #e9ecef;
}

footer.dark-mode{
    background-color: #2c3e50;
}

footer p {
    color: #333;
    font-size: 14px;
}

footer.dark-mode p{
    color:#97c2ed;
}

footer a {
    color: #007bff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
