:root {
  --bg-light: #f8f9fa;
  --text-light: #333;
  --accent-light: #ff6b6b;
  --bg-dark: #2c3e50;
  --text-dark: #ecf0f1;
  --accent-dark: #f06595;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-light);
  color: var(--text-light);
  line-height: 1.6;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  background-color: var(--bg-dark);
  color: var(--text-dark);
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-controls {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 20px;
  padding: 0.3rem 0.5rem;
  transition: all 0.3s ease;
  width: 250px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dark-mode .search-container {
  background-color: #333;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
}

#searchInput {
  border: none;
  background: transparent;
  padding: 0.3rem 0.5rem;
  font-size: 0.9rem;
  color: #333;
  width: 210px;
  outline: none;
}

.dark-mode #searchInput {
  color: #f0f0f0;
}

#searchInput::placeholder {
  color: #888;
}

#searchButton {
  background: none;
  border: none;
  cursor: pointer;
  color: #555;
  font-size: 0.9rem;
  padding: 0.3rem;
  transition: color 0.3s ease;
}

#searchButton:hover {
  color: #000;
}

.dark-mode #searchButton {
  color: #aaa;
}

.dark-mode #searchButton:hover {
  color: #fff;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--accent-light);
}

.dark-mode h1 {
  color: var(--accent-dark);
}

.toggle-btn {
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s;
}

.toggle-btn:hover {
  transform: scale(1.1);
}

.intro {
  text-align: center;
  margin-bottom: 2rem;
}

.wall-section h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  text-align: center;
}

.wall {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  max-height: 400px;
  overflow-y: auto;
}

.participant {
  background-color: var(--accent-light);
  color: white;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  font-size: 1rem;
  transition: transform 0.2s, box-shadow 0.2s;
}

.dark-mode .participant {
  background-color: var(--accent-dark);
}

.participant:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

footer {
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
  font-size: 0.9rem;
}

footer a {
  color: var(--accent-light);
  text-decoration: none;
  transition: color 0.3s;
}

.dark-mode footer a {
  color: var(--accent-dark);
}

footer a:hover {
  text-decoration: underline;
}

.toggle-btn i {
  font-size: 1.5rem;
  color: var(--accent-light);
  transition: color 0.3s;
}

.dark-mode .toggle-btn i {
  color: white;
}

.header-title {
  color: inherit; 
  text-decoration: none; 
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--accent-light);
  transition: color 0.3s;
}

.header-title:hover {
  cursor:pointer; 
  
}

.dark-mode .header-title {
  color: var(--accent-dark); 
}

#halloweenIcon {
  color: white;
  display: none; 
  transition: opacity 1s; 
  margin-left: 2px; 
  font-size: 2.5rem;
}

@media (max-width: 600px) {
  .container {
    padding: 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  .wall {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }
  .header-controls {
    flex-direction: column;
    align-items: flex-end;
  }

  .surprise-btn {
    margin-top: 0.5rem;
    margin-right: 0;
  }
}


/* Estilo Neon activado con el Konami Code */
body.neon-mode {
  background-color: black;
  color: #0ff; /* Color del texto en modo neon */
  font-family: 'Courier New', monospace; /* Fuente de aspecto retro */
}

body.neon-mode .header-title, 
body.neon-mode h1, 
body.neon-mode h2 {
  text-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 20px #0ff, 0 0 40px #0ff, 0 0 80px #00f, 0 0 90px #00f;
  color: #0ff;
}

body.neon-mode .participant {
  background-color: #f0f;
  color: #000;
  box-shadow: 0 0 10px #f0f, 0 0 20px #f0f, 0 0 30px #f0f;
}

body.neon-mode .toggle-btn i {
  color: #0ff;
}

body.neon-mode footer a {
  color: #f0f;
  text-shadow: 0 0 5px #f0f, 0 0 10px #f0f, 0 0 20px #f0f, 0 0 40px #f0f;
}

body.neon-mode header {
  background-color: rgba(0, 255, 255, 0.1);
  backdrop-filter: blur(20px);
}

body.neon-mode .wall-section h2 {
  color: #0ff;
}

/* Añadir animaciones en modo neon */
@keyframes neon-glow {
  0% {
    text-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 20px #0ff, 0 0 40px #0ff, 0 0 80px #00f, 0 0 90px #00f;
  }
  50% {
    text-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 30px #0ff, 0 0 50px #00f, 0 0 100px #00f, 0 0 150px #00f;
  }
  100% {
    text-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 20px #0ff, 0 0 40px #0ff, 0 0 80px #00f, 0 0 90px #00f;
  }
}

body.neon-mode h1, body.neon-mode h2 {
  animation: neon-glow 1.5s infinite alternate;
}

.surprise-btn {
  background-color: var(--accent-light);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: all 0.3s ease;
  margin-right: 1rem;
}

.dark-mode .surprise-btn {
  background-color: var(--accent-dark);
}